@import "tailwindcss";
@plugin "tailwindcss-motion";

html {
  font-size: 90%;
}
* {
  /*
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  */
  @apply antialiased;
}

.btn-primary {
  @apply px-4 py-2 text-white antialiased rounded-full bg-rose-600 hover:brightness-105 hover:scale-105 hover:shadow-sm transition-all disabled:bg-rose-600/30 disabled:hover:scale-100;
}

input,
textarea {
  @apply border-1 rounded-lg antialiased border-black/50 p-2;
}

textarea {
  @apply min-h-[200px];
}

h1 {
  @apply text-4xl font-extrabold antialiased;
}

h2 {
  @apply text-2xl font-bold antialiased;
}

h3 {
  @apply text-xl font-bold antialiased;
}

h3 {
  @apply text-lg font-bold antialiased text-black/50;
}

ul li {
  @apply list-disc list-inside;
}
